@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Style the header with a grey background and some padding */
.body {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  color: black;
}

.Thoughts__text {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}
.Thoughts__text ul {
  list-style: circle;
  list-style-position: inside;
}

.Projects__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Projects__header h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  margin-top: 0.5em;
  text-align: center;
}
.Projects__header p {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  color: black;
  margin-top: 1em;
  text-align: center;
}
.Projects__container {
  display: flex;
  margin-top: 1em;
}
@media screen and (max-width: 400px) {
  .Projects__container {
    display: block;
  }
}
.Projects__column {
  flex: 1;
  flex-direction: column;
}
.Projects__image {
  position: relative;
}
.Projects__image img {
  -webkit-filter: brightness(100%);
}
.Projects__image a {
  display: none;
}
.Projects__image:hover, .Projects__image:active {
  cursor: pointer;
  transition-duration: 0.3s;
}
.Projects__image:hover img, .Projects__image:active img {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 0.3 s;
}
.Projects__image:hover a, .Projects__image:active a {
  display: block;
  text-align: center;
  visibility: visible;
  font: "Poppins", sans-serif;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: 100%;
  transition: opacity 0.3s, visibility 0.3s;
}

.Photo__header {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 2em;
}
.Photo__header h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  margin-top: 0.5em;
  text-align: left;
}
.Photo__header p {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  color: black;
  margin-top: 1em;
  text-align: left;
}
.Photo__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.Photo__section__container {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.Photo__section__photos__padding {
  padding-bottom: 1.5em;
}
.Photo__section__photos summary {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  margin-bottom: 0.5em;
  cursor: pointer;
}
.Photo__section__photos summary:hover, .Photo__section__photos summary:active {
  transition-duration: 0.3s;
  opacity: 60%;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2em;
}
.Home__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10em;
  padding-right: 10em;
}
.Home__h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  margin-top: 3em;
  margin-bottom: 1em;
  text-align: left;
  width: 100%;
}
.Home__header {
  display: flex;
  justify-content: space-between;
}
.Home__header__logo {
  width: 10em;
  flex-shrink: 2;
}
.Home__header__title {
  text-align: left;
  text-decoration: none;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 3em;
  color: black;
  line-height: 1;
}
.Home__header__title:hover, .Home__header__title:active {
  transition-duration: 0.3s;
  opacity: 60%;
}
.Home__header__nav {
  font-family: "Poppins", sans-serif;
  padding-left: 2em;
}
.Home__header__nav a {
  text-decoration: none;
  font-size: 1.25em;
  margin: 0.25em;
  color: black;
}
.Home__header__nav a:hover, .Home__header__nav a:active {
  transition-duration: 0.3s;
  opacity: 60%;
}
.Home__more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
}
.Home__more__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 0;
  flex-grow: 0.5;
  min-width: 20em;
  margin-left: 2em;
}
.Home__more__text a {
  color: #009BDF;
}
.Home__more__text a:hover {
  opacity: 60%;
  font-style: italic;
}
.Home__more__text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  margin-bottom: 1em;
  text-align: left;
}
.Home__more__text p {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  margin-bottom: 1em;
  text-align: left;
}
.Home__more__images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  overflow: hidden;
  flex-basis: 0;
  flex-grow: 1.5;
  min-width: 30em;
}
.Home__more__images img {
  border-radius: 0.5em;
  width: 30vh;
}
.Home__body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 0.5em;
}
.Home__body__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1.25;
  flex-basis: 0;
}
.Home__body__text a {
  color: #999999;
  font-weight: bold;
}
.Home__body__text a:hover {
  opacity: 60%;
  font-style: italic;
}
.Home__body__text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  margin-bottom: 1em;
  text-align: left;
}
.Home__body__text p {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: left;
  color: white;
  margin-top: 1em;
  background: linear-gradient(to right, #108CE5, #7836A1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Home__body__text ul {
  list-style-type: square;
  margin-left: 1em;
}
.Home__body__text ul li {
  margin-bottom: 0.25em;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}
.Home__body__picture {
  border-radius: 0.5em;
  width: 80%;
  flex-grow: 0.75;
  flex-basis: 0;
  min-width: 20rem;
}

/*# sourceMappingURL=style.css.map */
